# Mac files
.DS_Store

# Dependency directories
/node_modules
/studio/node_modules
/studio/sanity.json
/web/node_modules

# Ignore hidden files as default
*.env
.prettierrc

web/public
# Local Netlify folder
.netlify