button.no-style {
  background-color: transparent;
  border: none;
}

.button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &.button--h-black {
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &.button--w {
    background-color: white;
  }
}

button {
  cursor: pointer;
}

