.doc {
  &__block {
    a {
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 1rem;
      display: block;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color:rgba(4, 24, 147, 0.1);
      }
    }
    p {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}