/* ./styles/variables.css */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  /* Brand colors */
  --body-bg: #191D21;
  --body-text: #fff;
  --component-bg: #242A2F;
  --component-text-color: #fff;
  --main-navigation-color: #041893;

  --brand-primary: #041893;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #ffa800;
  --brand-secondary--inverted: #041893;

  /* Typography */
  --font-family-sans-serif: 'Space Mono';
  --font-size-base: 15px;
  --text-color: var(--brand-primary--inverted);

  --header-height: 3.3rem;

  
  --default-button-color: var(--brand-primary);
  
  --default-button-color: white;
  --default-button-color--inverted: var(--white);
  --default-button-color--hover: white;
  --default-button-color--active: white;
}