SANITY_DATASET="production"
SANITY_PROJECT_ID="su2xvl4g"
SANITY_API_TOKEN=

GATSBY_SHOPIFY_GRAPHQL_URL="https://<my_domain.com>/api/2020-10/graphql"
GATSBY_SHOPIFY_STOREFRONT_TOKEN=
GATSBY_SITE_URL=
GATSBY_SHOPIFY_STORE="site.myshopify.com"
GATSBY_SANITY_PROJECT_ID="su2xvl4g" # This is a midway test instance
GATSBY_SANITY_DATASET="production"
GATSBY_SENTRY_DSN=
GATSBY_GA_ID= # This is your key for Google Analytics

SENTRY_AUTH_TOKEN=

SHOPIFY_WEBHOOK_SECRET="" # Located at https://store.myshopify.com/admin/settings/notifications
SHOPIFY_URL=site.myshopify.com
SHOPIFY_GRAPHQL_URL="https://<my_domain.com>/api/2020-10/graphql"
SHOPIFY_STOREFRONT_TOKEN=
SHOPIFY_API_KEY=
SHOPIFY_API_PASSWORD=
