SANITY_DATASET="production"
SANITY_PROJECT_ID=
SANITY_API_TOKEN=
GATSBY_SHOPIFY_GRAPHQL_URL="site.myshopify.com/api/graphql"
# GATSBY_SHOPIFY_TOKEN is also known as the "Storefront Access Token"
GATSBY_SHOPIFY_TOKEN=
GATSBY_SITE_URL=
GATSBY_SHOPIFY_STORE="site.myshopify.com"
GATSBY_SANITY_PROJECT_ID=""
GATSBY_SANITY_DATASET="production"
SENTRY_AUTH_TOKEN=
GATSBY_SENTRY_DSN=
# SHOPIFY_SECRET is the token that appears after you create a webhook in Shopify
SHOPIFY_SECRET=
SHOPIFY_URL=site.myshopify.com
SHOPIFY_API_KEY=
SHOPIFY_API_PASSWORD=